.equipe-header{
    text-align: center;
    color: #003249;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight
    : 700;
}
.direita{
    color: #000000;
    font-size: 20px;
    font-weight: 550;
    margin-left: 4  5%;
    margin-top: 15px;
    text-align: -webkit-right;

}
.esquerda{
    color: #000000;
    font-size: 20px;
    font-weight: 550;
    margin-right: 4  5%;
    margin-top: 15px;
    text-align: -webkit-left;

}
.direita h1{
    text-align: right;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
  
}
.esquerda h1{
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.leticao h1{
    background: linear-gradient(to right, #003249, #053b54
    );
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.sofia h1{
    background: linear-gradient(to right, #003249, #053b54
    );
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.livia h1{
    background: linear-gradient(to right, #CCDCDB, #abe3e9);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.lara h1{
    background: linear-gradient(to right, #CCDCDB, #80CED7, #003249);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.francisco h1{
    background: linear-gradient(to right, #003249, #80CED7, #CCDCDB);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}


#exp{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-left: 11%;
    float: left;


    margin-top: -100px;
    margin-right: 31%;
    max-width: 100%;
}

#exp2{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-right: 11%;
    float: right;
}

#exp3{    
    border-radius: 50%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-right: 11%;
    float: right;
}   

#exp5{    
    border-radius: 60%;
    width: 21%;
    object-fit: none;
    object-position: center;
    margin-left: 11%;
    float: left;
}