.mapaPagina {
  background: linear-gradient(to bottom, #CCDCDB, #80CED7, #63bdc7);
  padding: 30px;
  height: 820px;
  margin-bottom: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 10px 36px 9px rgba(0,0,0,0.37);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  background-color: #003249;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav .navbar-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mapaBody {
  margin-top: 100px;
}


.mapaWrapper {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  bottom: 15%;
}

.mapaImagem {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.mapPoint {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #04374d;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.mapPoint:hover {
  transform: scale(1.2);
}

.search-container {
  text-align: center;
  margin-top: 20px;
  position: relative;
  bottom: 30%;
}

.search-container input {
  padding: 10px;
  width: 30%;
  font-size: 17px;
  border-radius: 15px 0px 0px 15px;
  border: none;
 
}

.search-container button {
  padding: 10px;
  font-size: 17px;
  background-color: #003249;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}

.search-container button:hover {
  background-color: #002a40;
}
