@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.perfil-body {
    background-color: #c9d6ff;
    background: linear-gradient(to top, #054562, #CCDCDB);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.profileContainer {

    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    padding: 20px;
}




.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profileHeader h1 {
    font-size: 24px;
    font-weight: 600;
}

.logoutButton {
    background-color: #003249;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
}

.conteudo-perfil {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 34px;
}

.profilePicture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profileDetails {
    flex: 1;
}

.profileDetails h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profileDetails p {
    margin-bottom: 10px;
}

.profileActions {
    margin-top: 20px;
}
--- 

.btn-editar .btn{
  background-color: #003249;
  border: none;
  border-radius: 10px; 
  padding: 8px 20px;  
  color: white;
  font-weight: 500;

}

.btn-editar .btn:hover{
background-color: #80CED7;
color: #003249;
font-weight: 500;

}